<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mocha Home">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Mocha Home</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: #ECEFF4;
            color: #2E3440;
        }
        pre {
            margin: 10px;
            display: inline-block;
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #2E3440;
                color: #ECEFF4;
            }
        }
    </style>
</head>
<body>
    <pre>Request : <% for (const property in headersOne) { %>
   <%- `${property.replace(/^\w|-\w/g, (c) => c.toUpperCase())}: ${headersOne[property].replace(/^\w|-\w|\s\w/g, (c) => c.toUpperCase())}` %><% } %>
<% const headersTwoData = new Array(); %>
Headers: <% for (const property in headersTwo) { %><% headersTwoData.push(`${property.replace(/^\w|-\w/g, (c) => c.toUpperCase())}: ${headersTwo[property]}`) %><% } %><% headersTwoData.sort().forEach((data) => {%>
   <%- data %><% }); %>
    </pre>
</body>
</html>
